.MuiDataGrid-filler {
  background: #17c1e8;
}
.flex-t {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTableHead-root {
  display: table-header-group !important;
}
.MuiButtonBase-root {
  text-transform: none !important;
}

.MuiGrid-item {
  padding-top: 5px !important;
}
.MuiPaper-root {
  border-radius: 0.5rem !important;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.image svg {
  color: #0afa2a;
  width: 10rem;
  height: 10rem;
}
@keyframes animate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.09);
  }
}
.image-error {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #ead9d8;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.image-error svg {
  color: rgb(178 43 43);
  width: 10rem;
  height: 10rem;
}

.button {
  --😀: #17c1e8;
  --😀😀: #38b9f3;
  --😀😀😀: #8bd1f0c4;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: .75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all .1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.button:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}